*{
    scroll-behavior: smooth;
}
/*#buttonTop{*/
/*    position: fixed;*/
/*    right:50px;*/
/*    bottom:50px ;*/
/*    background: blanchedalmond;*/
/*    border-radius: 20px;*/
/*    border: 1px solid white;*/
/*    padding: 10px;*/


/*}*/
img {
    max-height: 150px;
    display: block;
}

div.card img {
    object-fit: cover;
}

#btn-up {
    margin-left: 90%!important;
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: auto;
    display: block ;

}

.card-img-top {
    object-fit: contain;
}

.header_image {
    width: 100%;
    height: 450px;
    background: url('../img/cartes-cadeaux.jpg')right top;
    background-size: cover;
}
