
{% extends "base.html.twig" %}
{% block body %}
    <div class="row p-5">
        <div class="w-75 text-center">
            <h1 class="text-danger">Large choix de cadeaux </h1>
            <h2>Cadeaux de Noël <i class="fas fa-air-freshener"></i></h2>
            <hr>
            <p class="font-italic,font-weight-bold, text-danger">
            Noël arrive, la cloche sonne
                <br>
                le sapin vous attend
            </p>
            {% for product in products  %}
                <div class="col-md-4">
                    <div class="card shadow-sw">
                        <img src="{{ asset('uploads/images/' ~ product.image) }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <a href="{{ path('default_product', {'category':product.category.alias, 'alias':product.alias, 'id':product.id}) }}" class="btn btn-primary">Voir ce cadeau</a>
                        </div> <!-- /.card-body-->
                    </div><!-- /.card-->
                </div><!-- /.col-md-4-->
            {% endfor %}
            <h2>Cadeaux de Marriage <i class="fas fa-glass-cheers"></i></h2>
            <hr>
            <p class="font-italic,font-weight-bold, text-danger">
            Vivre les mariés <br>
                <br> choisir les cadeaux pour eux
            </p>
            <h2>Cadeaux d'Anniversaire <i class="fas fa-birthday-cake"></i></h2>
            <hr>
            <p class="font-italic,font-weight-bold, text-danger">
            Joyeux Anniversaire!
                <br> Bon anniversaire!
            </p>
            <h2>Cadeaux de nouvel an Chinois <i class="fas fa-candy-cane"></i></h2>
            <hr class="text-black-50">
            <p class="font-italic,font-weight-bold, text-danger">
                Bonne année!
                <br> 新年快乐
            </p>
        </div>
        <div class="card border-secondary mb-3 w-25 " style="max-width: 18rem;">
            <div class="card-header">Cadeaux <i class="fas fa-gifts"></i></div>
            <div class="card-body text-secondary">
                <h5 class="card-title">Secondary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>


{% endblock %}

