

<footer class="pt-4 my-md-5 pt-md-5 border-top bg-light ">
    <div class="row">

        <div class="col-6 col-md">
            <h4><a href="#">Informations sur l'entreprise</a></h4>
            <small class="d-block mb-3 text-muted"><i class="far fa-copyright"></i>2020</small>

        </div>

        <div class="col-6 col-md">
            <h4><a href="#">Aide</a> </h4>

        </div>

        <div class="col-6 col-md">
            <h4><a href="#">Blog</a> </h4>

        </div>

        <div class="col-12 col-md " style="max-width: 18rem" >
          <h2> <a class="nav-link" href="#"><i class="fab fa-facebook"></i></a></h2>
        </div>

        <div class="col-12 col-md" style="max-width: 18rem">
            <h2><a class="nav-link " href="#"><i class="fab fa-github-square"></i></a></h2>

        </div>



    </div>
</footer>