<footer class="pt-4 my-md-5 pt-md-5 border-top bg-white ">
    <div class="container">
        <div class="row">

            <div class="col-6 col-md ">

                <a class="btn btn-light" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                   aria-expanded="false" aria-controls="multiCollapseExample1">Information sur l'entreprise</a>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="">
                                En tant qu'entreprise, nous nous efforçons de mettre <br> en pratique nos principes
                                directeurs et<br>
                                d'aider à
                                répandre les concepts de durabilité et de <br>responsabilité dont l'impact peut<br>
                                aller bien
                                au-delà de notre
                                activité.
                            </div>
                        </div>
                    </div>
                </div>
                <small class="d-block mb-3 text-muted"><i class="far fa-copyright"></i>2020</small>

            </div>

            <div class="col-12 col-md">
                <!--   <h4><a href="#">Aide</a></h4>-->

                <a class="btn btn-light" data-toggle="collapse" href="#multiCollapseExample2" role="button"
                   aria-expanded="false" aria-controls="multiCollapseExample1">Contactez nous</a>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample2">
                            <div class="">
                                Adresse 3
                                4301 RZ Zierikzee
                                Pays-Bas
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-6 col-md">


                <a class="btn btn-light" data-toggle="collapse" href="#multiCollapseExample3" role="button"
                   aria-expanded="false" aria-controls="multiCollapseExample1">Suivez-nous</a>
                <div class="">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample3">
                            <div class="row">
                                <div class="col-12 col-md " style="max-width: 18rem">
                                    <h2><a class="nav-link" href="#"><i class="fab fa-facebook"></i></a></h2>
                                </div>
                                <div class="col-12 col-md" style="max-width: 18rem">
                                    <h2><a class="nav-link "
                                           href="https://github.com/Giftforholidays/Giftforholidays"><i
                                                    class="fab fa-github-square"></i></a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</footer>



{#<footer class="pt-4 my-md-5 pt-md-5 border-top bg-light ">#}
{#    <div class="row">#}

{#        <div class="col-6 col-md ">#}
{#            <!-- <h4><a href="#">Informations sur l'entreprise</a></h4>-->#}


{#            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button"#}
{#               aria-expanded="false" aria-controls="multiCollapseExample1">Information sur l'entreprise</a>#}
{#            <div class="row">#}
{#                <div class="col">#}
{#                    <div class="collapse multi-collapse" id="multiCollapseExample1">#}
{#                        <div class="card card-body">#}
{#                            En tant qu'entreprise, nous nous efforçons de mettre en pratique nos principes directeurs et#}
{#                            d'aider à#}
{#                            répandre les concepts de durabilité et de responsabilité dont l'impact peut aller bien#}
{#                            au-delà de notre#}
{#                            activité.#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <small class="d-block mb-3 text-muted"><i class="far fa-copyright"></i>2020</small>#}

{#        </div>#}

{#        <div class="col-6 col-md">#}
{#            <!--   <h4><a href="#">Aide</a></h4>-->#}

{#            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample2" role="button"#}
{#               aria-expanded="false" aria-controls="multiCollapseExample1">Notre adresse</a>#}
{#            <div class="row">#}
{#                <div class="col">#}
{#                    <div class="collapse multi-collapse" id="multiCollapseExample2">#}
{#                        <div class="card card-body">#}
{#                            Adresse 3#}
{#                            4301 RZ Zierikzee#}
{#                            Pays-Bas#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}


{#        </div>#}

{#        <div class="col-6 col-md">#}
{#            <!--   <h4><a href="#">Suivez nous</a></h4>#}



{#           <div class="col-12 col-md " style="max-width: 18rem">#}
{#               <h2><a class="nav-link" href="#"><i class="fab fa-facebook"></i></a></h2>#}
{#           </div>#}

{#           <div class="col-12 col-md" style="max-width: 18rem">#}
{#               <h2><a class="nav-link " href="#"><i class="fab fa-github-square"></i></a></h2>#}

{#           </div>#}
{#           </div>-->#}

{#            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample3" role="button"#}
{#               aria-expanded="false" aria-controls="multiCollapseExample1">Suivez-nous</a>#}
{#            <div class="row">#}
{#                <div class="col">#}
{#                    <div class="collapse multi-collapse" id="multiCollapseExample3">#}
{#                        <div class="card card-body">#}
{#                            <div class="col-12 col-md " style="max-width: 18rem">#}
{#                                <h2><a class="nav-link" href="#"><i class="fab fa-facebook"></i></a></h2>#}
{#                            </div>#}
{#                            <div class="col-12 col-md" style="max-width: 18rem">#}
{#                                <h2><a class="nav-link " href="#"><i class="fab fa-github-square"></i></a></h2>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}


{#        </div>#}
{#</footer>#}